.add-comment-input{
  border-radius: 20px;
  width:200px;
  height:30px;
}

.add-comment-input:hover, .add-comment-input:active, .add-comment-input:focus{
  outline:none;  
} 

.add-comment-form{
  background-color:orange;
}