.collapse{
  margin:0;
  padding:10px;
  text-align: right;
}

.collapse>a{
  list-style: none;
  color: pink;
  padding: 10px;
  text-align: left;
  width:100px;
  display:none;
  text-decoration: none;
}

.collapse a:hover{
  background-color: beige;
  cursor:pointer;
  color:black;
}

.checkbox {
  /* The magical checkbox */
  position: absolute;
  width: 43px; height: 37px;
  display: none;
  opacity: 0;
}

.checkbox, #raptor_button {
  display: block;
  cursor: pointer;
  padding: 5px;
  margin: px 0 0 6px;
  width:50px;
}

.checkbox:checked ~ a
{
  display: block
}

#raptor_button div {
	/* The three lines of the hamburger menu */
	width: 33px; height: 4px;
	background-color: #cdcdcd;
	border-radius: 3px;
	margin: 0 0 5px 3px;
}

#raptor_button{
  float:left;
}

input:hover #raptor_button div{
	background-color: pink;
} 
/* QUESTION: why won't this work */

.filler{
  height:35px;
}

@media(min-width:750px){
  .collapse a{
    display: inline-block;
    text-align:right;
    width: inherit;
  }

  #raptor_button, .checkbox {display: none;}

  .filler{
    height:0;
  }

  .checkbox:checked ~ a
  {
    display: inline-block;
    text-align: right;
    width: inherit;
  }

}

/* QUESTION:make checkbox uncheck when window size changes */