.search-friend-result{
  list-style:none;
  padding:0;
  text-align: left;
  position:absolute;
  background-color:beige;
  width:150px;
  display:none;
}

.search-friend-result li{
  padding:10px;
}

.search-friend-result li:hover{
  background-color: pink;
  cursor: pointer;
}